/* globals.css */
button:hover {
  background-color: #c53030; /* red.600 */
  opacity: 0.9;
}

input:hover {
  background-color: #123a80; /* gray.600 */
}

select:hover {
  background-color: #9b2c2c; /* red.900 */
}
body{
  background-color: purple;
}
